.vblg-btn {
    display: flex;
    margin: 20px auto 0 auto;
    max-width: 328px;
    width: 100%;
    height: 38px;
    background: var(--vblg-c-primary);
    border: 2px solid var(--vblg-c-primary);
    box-sizing: border-box;
    border-radius: 35px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13.23px;
    text-align: center;
    padding: 0;

    &:focus {
        box-shadow: 1px 1px 10px 3px rgba(64, 158, 255, 0.5);
    }

    // & > span {
    //     color: #f1f5f7 !important;
    // }

    &_modal {
        margin: -30px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover:not(:disabled) {
        background: #188add;
        border-color: #188add;
    }

    &:active:not(:disabled) {
        background: #03558a;
        border: #03558a;
    }

    &-disabled,
    &:disabled {
        background-color: #b0ceec;
        border: 2px solid #b0ceec;
    }

    &-outline {
        background-color: white;
        color: var(--vblg-c-primary);
        border: 2px solid #b0ceec;
    }
}