.multiselect {
  width: 211.86px;
  height: 26.06px;
  border-radius: 5px !important;
  min-height: initial;
  &::v-deep *{
    min-height: initial;
  }
  &::v-deep &__tags {
    border: none !important;
    background-color: #DFEBF7 !important;
    display: flex;
    align-items: center;
    padding: 0 0 0 8.24px;
    height: 26.06px;
  }

  &::v-deep &__content-wrapper {
    font-size: 13.23px;
    background: #FFFFFF;
    border: 1px solid #B0CEEC;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &::v-deep .multiselect__element {
    span:hover {
      background: #EFF5FB;
      color: initial;
      //background-color: initial;
    }
    span{
      padding: 6px;
    }
  }

  &::v-deep .multiselect__option {
    background: white;
    color: initial;
    font-weight: 400;
    &--selected{
      font-weight: 600;
    }
  }

  &::v-deep .multiselect__single {
    background-color: #DFEBF7 !important;
    font-weight: 400;
    font-size: 13.23px;
    padding-left: 0;
    margin-bottom: 0;
  }
  &::v-deep .multiselect__select{
    padding: 0;
    width: 26px;
    height: 26px;
    z-index: 1;
    //display: none;
    //&::before{
    //  margin-right: -10px;
    //}
  }
}
