@import "text-field";

.vblg-input {
    &__container {
        @extend .text-field__container;
    }

    @extend .text-field;

    -webkit-outer-spin-button,
    -webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0 !important;
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }

    &:disabled {
        background-color: #F5F7FA;
        border-color: #E4E7ED;
        color: #C0C4CC !important;
        cursor: not-allowed;
    }
}

.vblg-error {
    max-width: 328px;
    margin: 0 auto;
}