@import "text-field";

.vblg-textarea {
    &__container {
        @extend .text-field__container;

        .vblg-textarea-count {
            position: absolute !important;
            right: 12px !important;
            top: calc(100% - 37px) !important;
            font-style: normal !important;
            font-weight: 600 !important;
            font-size: 14px !important;
            text-align: justify !important;
            color: #5F9DD8 !important;
            height: 0px;
        }

        &:not(.has-error) {
            .vblg-textarea-count {
                top: calc(100% - 21px) !important;
            }
        }
    }

    @extend .text-field;
    padding: 10px 0 18px 18px;
    border-radius: 10px;
    max-width: 100%;
    resize: none;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }

    &::-webkit-scrollbar-thumb {
        scroll-padding: 10px;
        background-clip: padding-box;
        border-radius: 5px;
        background-color: var(--vblg-c-primary);
    }

    &-short {
        min-height: 55px !important;
        max-height: 55px !important;
    }

    &-full {
        min-height: 220px !important;
        max-height: 220px !important;
    }
}