.app-modal__content {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 !important;

  h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;

    text-align: center;

    color: var(--vblg-c-indigo);
  }

  >div>img {
    width: 60px;
  }

  .content:first-child {
    margin: 10px 0 10px 0;
  }
}

.el-dialog__headerbtn{
  z-index: 1 !important;
}