.el{
  &-select{
    display: block !important;
    * {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
    &__tags{
      height: 100%;
      max-width: 100%;
      margin-left: 5px;
    }
    &-scrollbar{
      border-radius: 10px !important;
    }
    &-dropdown{
      border-radius: 10px !important;
      &__list{
        padding: 0 !important;
        li{
          height: 40px;
          display: flex;
          align-items: center;
          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 600;
          span{
            color: #0F75BD;
          }
        }
      }
    }
  }
  &-tag{
    padding: 10px !important;
    min-width: 121px !important;
    height: 50px !important;
    background: #B0CEEC !important;
    border-radius: 35px !important;
    color: white !important;
    border: none !important;
    &__close{
      display: none !important;
    }
  }
  &-input__suffix{
    display: none !important;
  }
}