@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$vblg-headline1: (
    font-family: unquote("Montserrat"),
    font-size: 97,
);
$vblg-headline2: (
    font-family: unquote("Montserrat"),
    font-size: 61,
);
$vblg-headline3: (
    font-family: unquote("Montserrat"),
    font-size: 48,
);
$vblg-headline4: (
    font-family: unquote("Montserrat"),
    font-size: 34,
);
$vblg-headline5: (
    font-family: unquote("Montserrat"),
    font-size: 24,
);
$vblg-headline6: (
    font-family: unquote("Montserrat"),
    font-size: 20,
);
$vblg-body1: (
    font-family: unquote("Montserrat"),
    font-size: 16,
);
$vblg-body2: (
    font-family: unquote("Montserrat"),
    font-size: 14,
);
$vblg-subtitle1: (
    font-family: unquote("Montserrat"),
    font-size: 16,
);
$vblg-subtitle2: (
    font-family: unquote("Montserrat"),
    font-size: 14,
);
$vblg-button: (
    font-family: unquote("Montserrat"),
    font-size: 14,
);
$vblg-overline: (
    font-family: unquote("Montserrat"),
    font-size: 10,
);
$vblg-caption: (
    font-family: unquote("Montserrat"),
    font-size: 12,
);

$vblg-headline1: 97px;
$vblg-headline2: 61px;
$vblg-headline3: 48px;
$vblg-headline4: 34px;
$vblg-headline5: 24px;
$vblg-headline6: 20px;
$vblg-body1: 16px;
$vblg-body2: 14px;
$vblg-subtitle1: 16px;
$vblg-subtitle2: 14px;
$vblg-button: 14px;
$vblg-overline: 10px;
$vblg-caption: 12px;
